@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="auth-page-wrapper">
    <div class="auth-page-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">
                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-danger">@ViewData["Title"]</h5>
                                <div class="alert alert-danger text-center">
                                    <p>This account has been locked out, please try again later.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>